# The locals .env files in each of the apps/libs/contracts will have priority over the main .env file.
# Use local env files only if you need to override global settings.
# All the runtime/frontend keys need to be prefixed with VITE_ to be able to work with Vite
VITE_ETHEREUM_NETWORK="localhost"
VITE_SUBGRAPH_ADDRESS="http://localhost:8000/subgraphs/name/subgraph"

# RPC Endpoint Provider ("infura" or "alchemy")
VITE_ENDPOINT_PROVIDER=""

# Alchemy API Key
VITE_ALCHEMY_KEY=""

# Infura API Key
VITE_INFURA_KEY=""

# GraphQL keys
GRAPHQL_ENDPOINT="" # Must be an URL; see libs/graphql-codegen/graphql.config.yml for more details

# All the node keys
NODE_EXAMPLE_KEY=""

# Wallet used to deploy the contracts
DEPLOYER_MNEMONIC="test test test test test test test test test test test junk"

# Maximum Gas to be spent on a transaction as a number. If empty it will be auto calculated
DEPLOYMENT_MAX_GAS=

# Gas Price in wei as a number. If empty, it will be auto calculated
DEPLOYMENT_GAS_PRICE=

# Etherscan API Key. It can be a single key or a list of keys for each network.
#
# Check https://hardhat.org/plugins/nomiclabs-hardhat-etherscan.html#multiple-api-keys-and-alternative-block-explorers
# for more info.
#
# If using more than one key remember that the value here must be a JSON encoded object
#
ETHERSCAN_API_KEY=""

# Enables/disables the gas report (true/false)
GAS_REPORT_FILE=""

# Allows to redirect the gas report to a file. If empty then the gas report
# is output to the console
GAS_REPORT_FILE=""

# CoinMarketCap API
#
# Used to get gas prices
#
COINMARKETCAP_API_KEY=""
